
@media only screen and (max-width: 1024px){
    /* .AppGroup {
        grid-template-columns: 1fr;
    }
    .app_leftPart{
        display: none;
    }
    .musicGroup {
        grid-template-columns: 1fr;
    } */
  }